<div class="flex flex-col gap-2 w-[300px] overflow-y-auto pr-2 shrink-0">
    @if(chatLists().length > 1){
    <hlm-tabs tab="main">
        <hlm-tabs-list>
            @for(list of chatLists(); track list.id){
            <button [hlmTabsTrigger]="list.id.toString()">
                {{list.name === CHAT_LIST_MAIN ? "All" : list.name}}
            </button>
            }
        </hlm-tabs-list>
        @for(list of chatLists(); track list.id){
        <div [hlmTabsContent]="list.id.toString()" class="flex flex-col gap-2">
            @for(chat of filteredChatsForList({id: list.id, name: list.name}); track chat.id){
            <app-chat-card [chat]="chat" />
            }
        </div>
        }
    </hlm-tabs>
    }
    @else {
    @for(chat of filteredChatsForList({ id: 0, name: CHAT_LIST_MAIN}); track chat.id){
    <app-chat-card [chat]="chat" />
    }
    }
</div>