@let accounts = this.accounts();

<hlm-tabs tab="not-selected" class="w-full flex-1 min-h-0">
    <ng-template #tabList>
        <hlm-paginated-tabs-list variant="line">
            @for (a of accounts; track a.id) {
                <button [hlmTabsTrigger]="a.id">
                    <hlm-avatar size="sm">
                        <span hlmAvatarFallback>{{ a.firstName[0] }}</span>
                    </hlm-avatar>
                    {{ a.firstName }}
                </button>
            } @empty{
                <hlm-spinner class="text-md"/>
            }
        </hlm-paginated-tabs-list>
    </ng-template>

    @for (a of accounts; track a.id) {
        <div [hlmTabsContent]="a.id" class="flex flex-1 min-h-0">
            <app-account-panel [account]="a" />
        </div>
    }

    <div hlmTabsContent="not-selected" class="flex flex-1">
        <app-account-not-selected-empty />
    </div>
</hlm-tabs>
